/** {
  border: 1px solid black;
}*/

body {
  margin: 0;
  background: url(./images/fridge.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

ul {
  list-style-type: none;
  height: 300px;
  width: 100%;
  overflow: scroll;
  padding: 0;
  margin: 0;
}

li {
  font-family: 'Cutive Mono', monospace;
  font-size: 16px;
  background: #FFF;
  color: #000;
  border: 2px solid #000;
  margin: 5px;
  padding: 3px;
  vertical-align: top;
  display: inline-block;
  cursor: -webkit-grab;
  cursor: grab;
  white-space: nowrap;
  position: absolute;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#build-area {
  background: rgba(0,0,0,0.1);
  height: 156px;
  padding: 5px;
  margin: 16px auto 10px auto;
}

#build-area li {
  margin: 5px 0;
  position: static;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#char-count {
  font-family: 'Cutive Mono', monospace;
  font-size: 36px;
  float: right;
  line-height: 36px;
}

#tweet-button {
  background: #52A5E5;
  color: #fff;
}

#bottom-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 225px;
}

#magnet-list {
  position: relative;
}

.ui-state-highlight {
  background: rgba(0,0,0,0.1);
  height: 34px;
  width: 34px;
}

.mza {
  margin: 0 auto;
}