/** {
  border: 1px solid black;
}*/

body {
  margin: 0;
}

ul {
  list-style-type: none;
  height: 300px;
  width: 100%;
  overflow: scroll;
  padding: 0;
  margin: 0;
}

li {
  font-family: 'Cutive Mono', monospace;
  background: #FFF;
  color: #000;
  border: 2px solid #000;
  margin: 5px;
  padding: 10px;
  vertical-align: top;
  display: inline-block;
  cursor: -webkit-grab;
  cursor: grab;
  white-space: nowrap;
  position: absolute;
}

#build-area {
  background: rgba(0,0,0,0.1);
  height: 156px;
  padding: 5px;
  margin-top: 16px;
}

#build-area li {
  margin: 5px 0;
  position: static;
}

#char-count {
  font-family: 'Cutive Mono', monospace;
  font-size: 36px;
  float: right;
}

#tweet-button {
  background: #52A5E5;
  color: #fff;
}

#bottom-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 225px;
}

#magnet-list {
  position: relative;
}