/*body {
  background: hotpink;
}*/

ul {
  list-style-type: none;
  height: 300px;
  width: 100%;
}

li {
  background: black;
  color: white;
  border: 2px solid white;
  margin: 5px;
  padding: 10px;
  vertical-align: top;
  display: inline-block;
  cursor: -webkit-grab;
  cursor: grab;
  white-space: nowrap;
}

#build-area{
  height: 300px;
  width: 100%;
  background: hotpink;
}